## Story 11 Tuple Packing, Unpacking

'*'  

거의 모든 경우 Packing  
  
함수 호출 인자 앞에 붙을 경우 Unpacking

packing, unpacking은 '명령' 보다는 '상황'개념으로 이해해라

## '묶는다'의 기능

In [4]:
# tuple packing
tri_two = 23, 12
tri_two

(23, 12)

In [3]:
# tuple unpacking
tri_three = (12, 25)
bt, ht = tri_three
print(bt, ht)

12 25

In [5]:
# 여러 변수에 할당 시 *(묶는다)사용: packing - 결과가 list 이다!
nums = (1, 2, 3, 4, 5)
n1, n2, *others = nums # 둘 이상의 값을 리스트로 묶을 때 *를 사용한다.
others

[3, 4, 5]

In [6]:
# 여러 변수에 할당 시 *(묶는다)사용 - 처음, 중간, 끝에 모두가능
nums = (1, 2, 3, 4, 5)
first, *others, last = nums # 둘 이상의 값을 리스트로 묶을 때 *를 사용한다.
others

[2, 3, 4]

### [함수 호출 및 반환 과정에서의 packing / unpacking]

In [7]:
# 함수 반환값을 packing하여 할당
def ret_nums():
    return 1, 2, 3, 4, 5 #  함수는 한번에 하나의 값만 반환할 수 있다

nums = ret_nums()
nums # 튜플로 묶어서 하나의 값으로 반환한다

(1, 2, 3, 4, 5)

In [10]:
# 함수 반환값을 할당 시 '*'(묶는다) 사용
n, *others = ret_nums() # 반환되는 값이 unpacking되어 변수들에 저장
others # list로 묶인다

[2, 3, 4, 5]

In [11]:
# 함수정의 시 매개변수에 *(묶는다) 사용 (1)
def show_nums(n1, n2, *other): # 세번째 이후 값들은 tuple로 묶여 other에 전달
    print(n1, n2, other, sep = ', ')
    
show_nums(1, 2, 3, 4)

1, 2, (3, 4)

In [12]:
show_nums(1, 2, 3, 4, 5)

1, 2, (3, 4, 5)

In [14]:
# 함수정의 시 매개변수에 *(묶는다) 사용 (2)
def sum(*nums):
    s = 0
    for i in nums:
        s += i
    return s

sum(1, 2, 3, 4, 5)

15

## '푼다'의 기능

In [15]:
# fucn(*args) - function을 call할 때 매개변수(arg)앞에 '*'이 들어가면 '푼다' 기능!
def show_man(name, age, height):
    print(name, age, height, sep = ', ')
p = ('Yoon', 22, 180) # 180cm의 22세 Yoon군

show_man(*p) # p에 담긴 값을 풀어서 각각의 매개변수에 전달!

Yoon, 22, 180

In [ ]:
# unpacking 할 때 동일한 구조 형태의 변수를 선언하라!(1)
t = (1, 2, (3, 4)) # 튜플 안에 튜플이 있다.
a, b, (c, d) = t # 튜플 ㅇ나의 값의 구조와 동일한 형태로 변수를 선언한다.
print(a, b, c, d, sep = ', ')

In [16]:
# unpacking 할 때 동일한 구조 형태의 변수를 선언하라! (2)
p = 'Hong', (32, 178), '010-1234-56xx', 'Korea'
na, (ag, he), ph, ad = p
print(na, he)

Hong 178

In [ ]:
# 의미없는 변수에 _로 할당하는 것도 하나의 관례다(해석시 도움)
p = 'Hong', (32, 178), '010-1234-56xx', 'Korea'
na, (_, he), _, _ = p
print(na, he)

### [for loop 에서 unpacking]

In [17]:
ps = [('Lee', 172), ('Jung', 182), ('Yoon', 179)] # list에 담긴 tuple
# ps = (['Lee', 172], ['Jung', 182], ['Yoon', 179]) # tuple에 담긴 list도 같다


for n, h in ps: # for loop은 세번 돈다
    print(n, h, sep = ', ')

Lee, 172
Jung, 182
Yoon, 179